@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');

*{
  padding: 0 !important;
  margin: 0 !important;
  font-family: 'Poppins', sans-serif;
  color: white;
  /* background-color: black; */
  box-sizing: border-box;
  
}
